body {
    font-family: Arial, sans-serif;
    background-image: url(bilder/background.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    max-width: 400px;
    width: 100%;
    text-align: center;
    background-color: #222;
    border: 2px solid orange;
}

.login-heading {
    font-size: 24px;
    margin-bottom: 20px;
    color: white;
}

.input-field {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.input-field::placeholder { color: #111; }

.checkbox-label {
    display: flex;
    align-items: center;
    justify-content: center; /* Änderung des Alignments */
    margin-bottom: 15px;
    color: white;
}

.checkbox-input {
    margin: 0 10px 0 0;
}

.login-button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.login-button:hover {
    background-color: #0056b3;
}

.success-border {
border: 2px solid green;
}

.error-border {
border: 2px solid red;
}

.register-link {
    text-align: center;
    margin-top: 20px;
    color: white;
}

.register-link a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

.register-link a:hover {
    text-decoration: underline;
}

.error-box {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    background-color: #ffcccc;
    border: 2px solid #ff0000;
    padding: 10px;
    border-radius: 10px;
  }
  